.color-main {
  color: #37474F;
}
nav.navbar {
  background-color: #fff;
  color: #666;
  border: 0;
  padding: 0px 20px;
}
nav.navbar .navbar-brand {
  top: 7px;
  position: relative;
  padding: 0 15px;
}
nav.navbar .navbar-nav {
  padding: 0;
}
nav.navbar .navbar-nav > li > a {
  color: #37474F;
  font-size: 16px;
  position: relative;
}
nav.navbar .navbar-nav > li > a:hover {
  color: #222c31;
  background-color: #f5f5f5;
}
nav.navbar .material-icons {
  vertical-align: bottom;
  line-height: inherit;
}
nav.navbar .notif-counter {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background-color: #F44336;
  color: #fff;
  font-size: 12px;
  position: absolute;
  right: 5px;
  top: 5px;
}
nav.navbar .dropdown.open > a {
  background-color: #222c31 !important;
}
.idea-tag {
  padding: 1px 4px;
  background-color: #aaa;
  white-space: nowrap;
  border-radius: 2px;
  color: #fff;
}
.modal-create {
  width: 1200px;
}
.modal-create .modal-content {
  border: 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}
.modal-create .modal-header {
  background-color: #37474F;
  color: #fff;
  padding-bottom: 40px;
}
.modal-create .modal-body {
  padding-bottom: 30px;
}
.modal-create .modal-footer {
  padding: 0;
}
.modal .modal-content {
  border: 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}
.modal-login .modal-header,
.modal-register .modal-header {
  background-color: rgba(55, 71, 79, 0.5);
  color: #fff;
}
.modal-login .modal-header .close,
.modal-register .modal-header .close {
  color: #fff;
  opacity: 1;
  font-size: 28px;
}
.modal-login .lost-password,
.modal-register .lost-password {
  color: #999;
  font-size: 12px;
}
.modal-login .input-container,
.modal-register .input-container {
  position: relative;
  color: #37474F;
}
.modal-login .input-container i,
.modal-register .input-container i {
  position: absolute;
  background-color: #37474F;
  height: 42px;
  width: 42px;
  text-align: center;
  line-height: 42px;
  color: #fff;
  font-size: 28px;
}
.modal-login input[type="text"],
.modal-register input[type="text"],
.modal-login input[type="password"],
.modal-register input[type="password"],
.modal-login input[type="email"],
.modal-register input[type="email"] {
  border-radius: 2px;
  box-shadow: none;
  height: 42px;
  padding-left: 55px;
}
.footer {
  padding: 15px 20px;
  width: 100%;
  background-color: #f5f5f5;
}
.footer p {
  margin: 0;
  font-size: 12px;
}
.home-cover {
  height: 260px;
  background-color: rgba(55, 71, 79, 0.5);
  background-image: url(../img/challenges/cover2.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.home-cover .home-cover--text {
  text-transform: uppercase;
  color: #fff;
  top: 50%;
  position: relative;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  max-width: 50%;
  margin: 0 auto;
  text-shadow: 0px 0px 9px rgba(0, 0, 0, 0.5);
}
.home-cover .home-cover--text p {
  font-family: 'Pacifico', cursive;
  text-transform: capitalize;
  font-size: 26px;
}
.home-cover .home-cover--text h1 {
  margin-top: 0;
  font-size: 64px;
  font-weight: bold;
}
.challenge-cover-filter {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}
.challenge-cover {
  width: 100%;
  height: 250px;
  background-image: url('../img/challenges/cover.jpg');
  background-position-y: 50%;
  background-position-x: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.challenge-cover h2,
.challenge-cover h4 {
  margin: 0;
  text-align: center;
  color: #fff;
  position: relative;
  z-index: 1;
}
.challenge-cover h4 {
  font-size: 16px;
  font-weight: normal;
  margin-top: 15px;
}
.challenge-cover h2 {
  padding-top: 35px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 36px;
}
.time-left {
  max-width: 250px;
  position: relative;
  text-align: center;
  top: 30px;
  margin: 0 auto;
}
.time-left .time-left-indic {
  color: #fff;
  text-transform: uppercase;
  padding: 5px 0;
}
.time-left .progress {
  position: relative;
  margin-top: 10px;
  height: 10px;
  border-radius: 15px;
  background-color: #37474F;
  border: 1px solid #fff;
}
.time-left .progress .progress-bar {
  background: #fff;
  box-shadow: none;
}
.panel-challenge .time-left {
  top: 0;
}
.panel-challenge .time-left .time-left-indic {
  color: #37474F;
}
.panel-challenge .time-left .progress-bar {
  background-color: #37474F;
}
.panel-cover {
  height: 160px;
  border-radius: 3px 3px 0 0;
  background-color: #ccc;
  background-size: cover;
  background-position: center center;
}
.panel-challenge {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.panel-challenge h3 {
  text-transform: uppercase;
  font-weight: bold;
}
.panel-challenge .panel-overview {
  margin-top: 20px;
  -webkit-transform: none;
  transform: none;
}
.panel-challenge .panel-overview .indic {
  padding: 0;
}
.panel-challenge p {
  height: 45px;
  text-align: center;
}
.panel-challenge h3 {
  margin-top: 10px;
}
.panel-overview {
  color: #37474F;
  position: relative;
  margin-bottom: 5px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border: 0;
}
.panel-overview .indic {
  border-right: 1px solid #eee;
  padding: 10px 0;
}
.panel-overview .indic:last-child {
  border: 0;
}
.panel-overview .icon-indic {
  display: block;
  padding: 5px 0;
  font-size: 36px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 5px;
}
.panel-overview .indic-title {
  text-transform: uppercase;
}
.panel-overview .panel-overview-create {
  background-color: #37474F;
  color: #fff;
  padding: 10px 0;
  cursor: pointer;
  transition-duration: 0.3s;
  transition-property: -webkit-transform;
  transition-property: transform;
}
.panel-overview .panel-overview-create:hover {
  -webkit-filter: grayscale(70%);
  -moz-filter: grayscale(70%);
  -ms-filter: grayscale(70%);
  -o-filter: grayscale(70%);
  filter: grayscale(70%);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
.panel-overview .panel-overview-create a:hover {
  color: #fff;
  text-decoration: none;
}
.challenge-tab {
  border-bottom: 1px solid #ccc;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.challenge-tab li {
  display: inline-block;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
  min-width: 100px;
  text-align: center;
  padding-bottom: 10px;
}
.challenge-tab li > * {
  text-decoration: none;
}
.challenge-tab li a {
  color: #999;
}
.challenge-tab li a:hover {
  color: #333;
  text-decoration: none;
}
.challenge-tab li.active {
  border-bottom: 2px solid #37474F;
}
.challenge-tab li.active a {
  color: #333;
}
.panel-idea {
  padding-right: 75px;
  position: relative;
  border: 0;
}
.panel-idea .rebound-picto {
  width: 30px;
  position: relative;
  top: 30%;
}
.panel-idea .rebound-picto path {
  fill: #fff;
}
.panel-idea h3 {
  color: #37474F;
  font-weight: bold;
  text-transform: capitalize;
  margin-top: 0px;
  height: 30px;
}
.panel-idea .user-idea i {
  vertical-align: bottom;
}
.form-filter {
  padding-bottom: 20px;
}
.panel-idea-stats {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 4px 4px 0;
  width: 75px;
  background-color: rgba(55, 71, 79, 0.8);
}
.panel-idea-stats .stat-container {
  text-align: center;
  height: 50%;
  position: relative;
  cursor: pointer;
}
.panel-idea-stats .stat-container:hover {
  background-color: #2d3940;
  -webkit-filter: grayscale(70%);
  -moz-filter: grayscale(70%);
  -ms-filter: grayscale(70%);
  -o-filter: grayscale(70%);
  filter: grayscale(70%);
}
.panel-idea-stats .stat-container:first-child {
  border-bottom: 1px solid #fff;
}
.panel-idea-stats .stat-container i {
  position: relative;
  color: #fff;
  top: 50%;
  -webkit-transform: translateY(-75%);
  transform: translateY(-75%);
  font-size: 26px;
}
.panel-idea-stats .stat-indic {
  text-align: center;
  display: block;
  position: absolute;
  bottom: 15px;
  width: 100%;
  color: #fff;
}
.form-group-elements .form-group {
  padding: 0 15px;
}
.form-group-elements p {
  text-align: center;
}
.form-group-elements p img {
  height: 50px;
}
.challenges-container {
  margin-top: 15px;
}
.text-accroche {
  font-size: 20px;
  margin: 50px 0;
  margin-top: 0px;
}
.color-list {
  display: inline;
  margin: 0;
  padding: 0;
}
.color-list li {
  cursor: pointer;
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 3px;
  background-color: #fff;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 4px solid #f4f4f4;
}
.color-list li.selected {
  border-color: #37474F;
}
.current-color {
  background-color: #9C27B0;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 3px;
}
span.story {
  font-weight: bold;
  text-transform: lowercase;
}
p.idea-content {
  min-height: 40px;
}
p.tag-list {
  min-height: 50px;
}
.rebound-container {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #ccc;
  border-radius: 50%;
}
.rebound-container .rebound-picto {
  width: 20px;
  position: relative;
  left: 5px;
  top: 0px;
}
.challenge-steps {
  position: relative;
}
.challenge-step a:hover {
  text-decoration: none;
  color: inherit;
}
.challenge-step a:hover .step-title {
  color: #666;
}
.challenge-step .step-nb {
  background-color: #fff;
  border: 2px solid #ccc;
  width: 40px;
  color: #333;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0 auto;
}
.challenge-step .step-nb i {
  line-height: 36px;
  color: #ccc;
}
.challenge-step .step-title {
  position: relative;
  top: -15px;
  color: #ccc;
  text-transform: uppercase;
  font-weight: bold;
}
.challenge-step--active {
  color: #666;
}
.challenge-step--active .step-nb {
  border-color: #666;
}
.challenge-step--active .step-nb i {
  color: #666;
}
.challenge-step--active .step-title {
  color: #666;
}
.challenge-step--done {
  color: #37474F;
}
.challenge-step--done .step-nb {
  border-color: #37474F;
}
.challenge-step--done .step-nb i {
  color: #37474F;
}
.challenge-step--done .step-title {
  color: #37474F;
}
.elements-counter {
  text-align: center;
  text-transform: uppercase;
  margin: 15px 0;
}
.elements-counter .counter {
  color: #37474F;
  font-weight: bold;
  font-size: 16px;
}
.recap-elements .recap-element {
  padding: 5px;
  background-color: #ccc;
  border-radius: 3px;
  height: 50px;
}
.recap-elements .recap-element--filled {
  background-color: #37474F;
  color: #fff;
}
.recap-elements .recap-element--filled .element-name,
.recap-elements .recap-element--filled .element-rating {
  text-align: center;
  font-weight: bold;
}
.recap-elements .recap-element--filled .element-rating > * {
  font-size: 15px;
  vertical-align: text-top;
}
.panel-element {
  cursor: pointer;
  color: #999;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.panel-element .panel-footer {
  background-color: #ccc;
  padding: 0 10px;
  color: #fff;
}
.panel-element .panel-footer i {
  font-size: 12px;
  color: #fff;
}
.panel-element--selected {
  color: #333;
  border-color: #37474F;
}
.panel-element--selected .panel-footer {
  background-color: #37474F;
}
.btn-create-idea {
  background-color: #37474F;
  color: #fff;
  margin-top: 25px;
  border: none;
  font-size: 16px;
  padding: 15px;
  font-weight: bold;
  text-transform: uppercase;
}
.ideas-create h3,
.ideas-propose h3 {
  margin-top: 0;
}
.ideas-create .left-col,
.ideas-propose .left-col {
  padding: 30px;
  background-color: #fff;
}
.ideas-create .right-col,
.ideas-propose .right-col {
  background-color: #f1f1f1;
  padding: 30px;
}
.ideas-create .element-recap .panel,
.ideas-propose .element-recap .panel {
  background-color: transparent;
}
.ideas-create .element-recap .panel-body,
.ideas-propose .element-recap .panel-body {
  min-height: 50px;
  background-color: transparent;
}
.ideas-create .element-recap .panel-footer,
.ideas-propose .element-recap .panel-footer {
  min-height: 25px;
  border-top: 0;
  background-color: transparent;
}
.ideas-create .element-recap .icon-element,
.ideas-propose .element-recap .icon-element {
  background-color: #666;
  color: #fff;
  width: 40px;
  height: 40px;
  text-align: center;
  top: 15px;
  position: relative;
  margin-left: -5px;
  border-radius: 50%;
  line-height: 40px;
  display: block;
  float: left;
}
.ideas-create .element-recap .icon-element i,
.ideas-propose .element-recap .icon-element i {
  line-height: 40px;
}
.ideas-create .element-recap .panel-element,
.ideas-propose .element-recap .panel-element {
  float: right;
  width: calc(100% - 45px);
}
.ideas-create .element-recap .panel-element--filling,
.ideas-propose .element-recap .panel-element--filling {
  border: 1px solid #37474F;
}
.ideas-create .element-recap .panel-element--filled,
.ideas-propose .element-recap .panel-element--filled {
  background-color: #fff;
}
.ideas-create .element-recap .panel-element--filled .panel-body,
.ideas-propose .element-recap .panel-element--filled .panel-body {
  color: #37474F;
}
.ideas-create .element-recap .panel-element--filled .panel-footer,
.ideas-propose .element-recap .panel-element--filled .panel-footer {
  background-color: #ccc;
}
.storygraph {
  text-align: center;
  font-style: italic;
  font-size: 18px;
  padding: 25px 0;
  padding-top: 40px;
}
.pepper-gauge {
  color: #fff;
  max-width: 450px;
  margin: 0 auto;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}
.pepper-gauge .gauge-step:nth-child(1) {
  background-color: rgba(55, 71, 79, 0.25);
}
.pepper-gauge .gauge-step:nth-child(2) {
  background-color: rgba(55, 71, 79, 0.5);
}
.pepper-gauge .gauge-step:nth-child(3) {
  background-color: #37474F;
}
.pepper-gauge > * {
  padding: 5px 0;
}
.pepper-gauge span {
  padding-left: 5px;
}
.pepper-gauge i {
  font-size: 12px;
}
.placeholder-plus {
  color: #37474F;
  color: #009688;
  font-size: 14px;
  position: relative;
  top: 10px;
}
.icon-element {
  width: 40px;
  height: 40px;
}
.ui-state-default {
  border: 1px solid #37474F;
}
.gauge-step:nth-child(1) {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}
.gauge-step:nth-child(2) {
  -webkit-filter: grayscale(80%);
  -moz-filter: grayscale(80%);
  -ms-filter: grayscale(80%);
  -o-filter: grayscale(80%);
  filter: grayscale(80%);
}
.gauge-step:nth-child(3) {
  -webkit-filter: grayscale(60%);
  -moz-filter: grayscale(60%);
  -ms-filter: grayscale(60%);
  -o-filter: grayscale(60%);
  filter: grayscale(60%);
}
.gauge-step {
  transition: 0.5s ease-in;
  border: 2px solid transparent;
}
.gauge-step--active {
  -webkit-filter: grayscale(0%) !important;
  -moz-filter: grayscale(0%) !important;
  -ms-filter: grayscale(0%) !important;
  -o-filter: grayscale(0%) !important;
  filter: grayscale(0%) !important;
  border: 2px solid #fff;
}
.btn-remove {
  padding: 0 10px;
  margin: 0;
  padding-left: 0;
  color: #F44336;
}
.flatpickr-input {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.about p {
  margin: 0 0 10px;
  font-size: 17px;
  line-height: 30px;
  color: #444;
  padding: 20px 0;
}
.about ul {
  margin: 0;
  padding-left: 20px;
}
.about ul li {
  padding: 10px 0;
  font-size: 17px;
}
body {
  padding-top: 50px;
  background-color: #f4f4f4;
  background-image: url('../img/cubes.png');
}
.nostyle {
  color: inherit;
}
.tooltip-inner {
  white-space: pre-wrap;
}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.btn-main {
  background-color: #37474F;
  color: #fff;
  margin-top: 25px;
  border: none;
  font-size: 16px;
  padding: 10px 15px;
  font-weight: bold;
  text-transform: uppercase;
  transition-duration: 0.5s;
}
.btn-main:hover {
  color: #fff;
  background-color: #0d1113;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
.btn-main--other {
  background-color: #666;
}
.btn-main--disabled {
  background-color: #ccc;
  color: #fff;
}

/*# sourceMappingURL=app.css.map */
