.color-main {
  color: #009688;
}
nav.navbar {
  background-color: #fff;
  color: #666;
  border: 0;
  padding: 0px 20px;
}
nav.navbar .navbar-brand {
  color: #fff;
  color: #666;
}
nav.navbar .navbar-nav {
  padding: 5px 0;
}
nav.navbar .navbar-nav > li > a {
  color: #009688;
  font-size: 16px;
  position: relative;
}
nav.navbar .material-icons {
  vertical-align: bottom;
  line-height: inherit;
}
nav.navbar .notif-counter {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background-color: #F44336;
  color: #fff;
  font-size: 12px;
  position: absolute;
  right: 5px;
  top: 5px;
}
nav.navbar .dropdown.open > a {
  background-color: #00635a !important;
}
.idea-tag {
  padding: 1px 4px;
  background-color: #009688;
  white-space: nowrap;
  border-radius: 2px;
  color: #fff;
}
.modal-create {
  width: 1200px;
}
.modal-create .modal-content {
  border: 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}
.modal-create .modal-header {
  background-color: #009688;
  color: #fff;
  padding-bottom: 40px;
}
.modal-create .modal-body {
  padding-bottom: 30px;
}
.modal .modal-content {
  border: 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}
.modal-login .modal-header,
.modal-register .modal-header {
  background-color: rgba(0, 150, 136, 0.5);
  color: #fff;
}
.modal-login .modal-header .close,
.modal-register .modal-header .close {
  color: #fff;
  opacity: 1;
  font-size: 28px;
}
.modal-login .lost-password,
.modal-register .lost-password {
  color: #999;
  font-size: 12px;
}
.modal-login .input-container,
.modal-register .input-container {
  position: relative;
  color: #009688;
}
.modal-login .input-container i,
.modal-register .input-container i {
  position: absolute;
  background-color: #009688;
  height: 42px;
  width: 42px;
  text-align: center;
  line-height: 42px;
  color: #fff;
  font-size: 28px;
}
.modal-login input,
.modal-register input {
  border-radius: 2px;
  box-shadow: none;
  padding: 20px;
  padding-left: 55px;
}
.footer {
  padding: 15px 20px;
  width: 100%;
  background-color: #f5f5f5;
}
.footer p {
  margin: 0;
  font-size: 12px;
}
.home-cover {
  height: 260px;
  background-color: rgba(0, 150, 136, 0.5);
}
.home-cover .home-cover--text {
  text-transform: uppercase;
  color: #fff;
  top: 50%;
  position: relative;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  max-width: 50%;
  margin: 0 auto;
}
.home-cover .home-cover--text h1 {
  margin-top: 0;
  font-size: 48px;
}
.challenge-cover {
  width: 100%;
  height: 250px;
  background-image: url('../img/challenges/cover.jpg');
  background-position-y: 50%;
  background-position-x: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.challenge-cover h2,
.challenge-cover h4 {
  margin: 0;
  text-align: center;
  color: #fff;
}
.challenge-cover h4 {
  font-size: 16px;
  font-weight: normal;
  margin-top: 15px;
}
.challenge-cover h2 {
  padding-top: 35px;
}
.challenge-cover .time-left {
  max-width: 250px;
  position: relative;
  text-align: center;
  top: 50px;
  margin: 0 auto;
}
.challenge-cover .time-left .time-left-indic {
  color: #fff;
  text-transform: uppercase;
  padding: 5px 0;
}
.challenge-cover .time-left .progress {
  position: relative;
  margin-top: 10px;
  height: 10px;
  border-radius: 15px;
  background-color: #009688;
  border: 1px solid #fff;
}
.challenge-cover .time-left .progress .progress-bar {
  background: #fff;
  box-shadow: none;
}
.panel-cover {
  height: 160px;
  border-radius: 3px 3px 0 0;
  background-color: #ccc;
  background-size: cover;
}
.panel-challenge .panel-overview {
  margin-top: 20px;
  -webkit-transform: none;
  transform: none;
}
.panel-challenge .panel-overview .indic {
  padding: 0;
}
.panel-challenge p {
  height: 70px;
}
.panel-challenge h3 {
  margin-top: 10px;
}
.panel-overview {
  color: #009688;
  position: relative;
  margin-bottom: 5px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border: 0;
}
.panel-overview .indic {
  border-right: 1px solid #eee;
  padding: 10px 0;
}
.panel-overview .indic:last-child {
  border: 0;
}
.panel-overview .icon-indic {
  display: block;
  padding: 5px 0;
  font-size: 36px;
}
.panel-overview .indic-title {
  text-transform: uppercase;
}
.panel-overview .panel-overview-create {
  background-color: #009688;
  color: #fff;
  padding: 10px 0;
  cursor: pointer;
}
.panel-overview .panel-overview-create a:hover {
  color: #fff;
  text-decoration: none;
}
.challenge-tab {
  border-bottom: 1px solid #ccc;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.challenge-tab li {
  display: inline-block;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
  min-width: 100px;
  text-align: center;
  padding-bottom: 10px;
}
.challenge-tab li > * {
  text-decoration: none;
}
.challenge-tab li a {
  color: #999;
}
.challenge-tab li a:hover {
  color: #333;
  text-decoration: none;
}
.challenge-tab li.active {
  border-bottom: 2px solid #009688;
}
.challenge-tab li.active a {
  color: #333;
}
.panel-idea {
  padding-right: 75px;
  position: relative;
  border: 0;
}
.panel-idea h3 {
  margin-top: 0px;
}
.panel-idea h3 a {
  color: #009688;
}
.panel-idea .user-idea i {
  vertical-align: bottom;
}
.form-filter {
  padding-bottom: 20px;
}
.panel-idea-stats {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 4px 4px 0;
  width: 75px;
  background-color: rgba(0, 150, 136, 0.8);
}
.panel-idea-stats .stat-container {
  text-align: center;
  height: 50%;
  position: relative;
}
.panel-idea-stats .stat-container:first-child {
  border-bottom: 1px solid #fff;
}
.panel-idea-stats .stat-container i {
  position: relative;
  color: #fff;
  top: 50%;
  -webkit-transform: translateY(-75%);
  transform: translateY(-75%);
  font-size: 26px;
}
.panel-idea-stats .stat-indic {
  text-align: center;
  display: block;
  position: absolute;
  bottom: 15px;
  width: 100%;
  color: #fff;
}
.form-group-elements .form-group {
  padding: 0 15px;
}
.form-group-elements p {
  text-align: center;
}
.form-group-elements p img {
  height: 50px;
}
.challenges-container {
  margin-top: 15px;
}
.challenge-steps {
  position: relative;
}
.challenge-step a:hover {
  text-decoration: none;
  color: inherit;
}
.challenge-step a:hover .step-title {
  color: #666;
}
.challenge-step .step-nb {
  background-color: #fff;
  border: 2px solid #ccc;
  width: 40px;
  color: #333;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0 auto;
}
.challenge-step .step-nb i {
  line-height: 36px;
  color: #ccc;
}
.challenge-step .step-title {
  position: relative;
  top: -15px;
  color: #ccc;
  text-transform: uppercase;
  font-weight: bold;
}
.challenge-step--active {
  color: #666;
}
.challenge-step--active .step-nb {
  border-color: #666;
}
.challenge-step--active .step-nb i {
  color: #666;
}
.challenge-step--active .step-title {
  color: #666;
}
.challenge-step--done {
  color: #009688;
}
.challenge-step--done .step-nb {
  border-color: #009688;
}
.challenge-step--done .step-nb i {
  color: #009688;
}
.challenge-step--done .step-title {
  color: #009688;
}
.elements-counter {
  text-align: center;
  text-transform: uppercase;
  margin: 15px 0;
}
.elements-counter .counter {
  color: #009688;
  font-weight: bold;
  font-size: 16px;
}
.recap-elements .recap-element {
  padding: 5px;
  background-color: #ccc;
  border-radius: 3px;
  height: 50px;
}
.recap-elements .recap-element--filled {
  background-color: #009688;
  color: #fff;
}
.recap-elements .recap-element--filled .element-name,
.recap-elements .recap-element--filled .element-rating {
  text-align: center;
  font-weight: bold;
}
.recap-elements .recap-element--filled .element-rating > * {
  font-size: 15px;
  vertical-align: text-top;
}
.panel-element {
  cursor: pointer;
  color: #999;
}
.panel-element .panel-footer {
  background-color: #ccc;
  padding: 0 10px;
}
.panel-element .panel-footer i {
  font-size: 12px;
  color: #fff;
}
.panel-element--selected {
  color: #333;
  border-color: #009688;
}
.panel-element--selected .panel-footer {
  background-color: #009688;
}
.btn-create-idea {
  background-color: #009688;
  color: #fff;
  margin-top: 25px;
  border: none;
  font-size: 16px;
  padding: 15px;
  font-weight: bold;
  text-transform: uppercase;
}
.ideas-create h3,
.ideas-propose h3 {
  margin-top: 0;
}
.ideas-create .left-col,
.ideas-propose .left-col {
  padding: 30px;
  background-color: #fff;
}
.ideas-create .right-col,
.ideas-propose .right-col {
  background-color: #f1f1f1;
  padding: 30px;
}
.ideas-create .element-recap .panel,
.ideas-propose .element-recap .panel {
  background-color: transparent;
}
.ideas-create .element-recap .panel-body,
.ideas-propose .element-recap .panel-body {
  min-height: 50px;
  background-color: transparent;
}
.ideas-create .element-recap .panel-footer,
.ideas-propose .element-recap .panel-footer {
  min-height: 25px;
  border-top: 0;
  background-color: transparent;
}
.ideas-create .element-recap .icon-element,
.ideas-propose .element-recap .icon-element {
  background-color: #666;
  color: #fff;
  width: 40px;
  height: 40px;
  text-align: center;
  top: 15px;
  position: relative;
  margin-left: -5px;
  border-radius: 50%;
  line-height: 40px;
  display: block;
  float: left;
}
.ideas-create .element-recap .icon-element i,
.ideas-propose .element-recap .icon-element i {
  line-height: 40px;
}
.ideas-create .element-recap .panel-element,
.ideas-propose .element-recap .panel-element {
  float: right;
  width: calc(100% - 45px);
}
.ideas-create .element-recap .panel-element--filling,
.ideas-propose .element-recap .panel-element--filling {
  border: 1px solid #009688;
}
.ideas-create .element-recap .panel-element--filled,
.ideas-propose .element-recap .panel-element--filled {
  background-color: #fff;
}
.ideas-create .element-recap .panel-element--filled .panel-body,
.ideas-propose .element-recap .panel-element--filled .panel-body {
  color: #009688;
}
.ideas-create .element-recap .panel-element--filled .panel-footer,
.ideas-propose .element-recap .panel-element--filled .panel-footer {
  background-color: #ccc;
}
.storygraph {
  text-align: center;
  font-style: italic;
  font-size: 18px;
  padding: 25px 0;
  padding-top: 75px;
}
.pepper-gauge {
  color: #fff;
  max-width: 450px;
  margin: 0 auto;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}
.pepper-gauge .gauge-step:nth-child(1) {
  background-color: rgba(0, 150, 136, 0.25);
}
.pepper-gauge .gauge-step:nth-child(2) {
  background-color: rgba(0, 150, 136, 0.5);
}
.pepper-gauge .gauge-step:nth-child(3) {
  background-color: #009688;
}
.pepper-gauge > * {
  padding: 5px 0;
}
.pepper-gauge span {
  padding-left: 5px;
}
.pepper-gauge i {
  font-size: 12px;
}
.placeholder-plus {
  color: #009688;
  font-size: 14px;
  position: relative;
  top: 10px;
}
.icon-element {
  width: 40px;
  height: 40px;
}
body {
  padding-top: 60px;
  background-color: #f8f8f8;
}
.nostyle {
  color: inherit;
}
.btn-main {
  background-color: #009688;
  color: #fff;
  margin-top: 25px;
  border: none;
  font-size: 16px;
  padding: 15px;
  font-weight: bold;
  text-transform: uppercase;
}
.btn-main--other {
  background-color: #666;
}
.btn-main--disabled {
  background-color: #ccc;
  color: #fff;
}

/*# sourceMappingURL=app.css.map */
