.challenge-cover{
  width: 100%;
  height: 250px;
  background-image: url('../img/challenges/cover.jpg');
  
  h2{
    margin: 0;
    text-align: center;
    padding-top: 35px;
    color: #fff;
  }
  
  
  .time-left{
    max-width: 250px;
    position: relative;
    text-align: center;
    top: 50px;
    margin: 0 auto;
    
    .time-left-indic{
      color: #fff;
      text-transform: uppercase;
      padding: 5px 0;
    }
    
    .progress{
      position: relative;
      margin-top: 10px;
      height: 10px;
      border-radius: 15px;
      background-color: @colorMain;
      border: 1px solid #fff;
      
      .progress-bar{
        background: #fff;
        box-shadow: none;
      }
    }
  }
  
}

.panel-overview{
  color: @colorMain;
  position: relative;
  margin-bottom: 5px;
  transform: translateY(-50%);
  border: 0;

  
  .indic{
    border-right: 1px solid #eee;
    &:last-child{
      border: 0;
    }
      padding: 10px 0;
  }
  
  .icon-indic{
    display: block;
    padding: 5px 0;
    font-size: 36px;
  }
  
  .indic-title{
    text-transform: uppercase;
  }
  
  .panel-overview-create{
    background-color: @colorMain;
    color: #fff;
    padding: 10px 0;
  }
}

.challenge-tab{
  border-bottom: 1px solid #ccc;
  user-select: none;
  
  li{
    display: inline-block;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    min-width: 100px;
    text-align: center;
    padding-bottom: 10px;
    
    & > *{
      text-decoration: none;
    }
    
    a{
      color: #999;
      &:hover{
        color: #333;
        text-decoration: none;
      }
    }
    &.active{
      border-bottom: 2px solid @colorMain;
      a{
        color: #333;
      }
      
    }
    
    
    
  }
}

.panel-idea{
  h3{
    margin-top: 0px;
  }
  .user-idea{
    i{
      vertical-align: bottom;
    }  
  }
  
}