.challenge-cover{
  width: 100%;
  height: 250px;
  background-image: url('../img/challenges/cover.jpg');
  background-size: 100%;
  
  h2, h4{
    margin: 0;
    text-align: center;  
    color: #fff;
  }
  
  h4{
    font-size: 16px;
    font-weight: normal;
    margin-top: 15px;
  }
  
  h2{
    padding-top: 35px;
  }
  
  
  
  .time-left{
    max-width: 250px;
    position: relative;
    text-align: center;
    top: 50px;
    margin: 0 auto;
    
    .time-left-indic{
      color: #fff;
      text-transform: uppercase;
      padding: 5px 0;
    }
    
    .progress{
      position: relative;
      margin-top: 10px;
      height: 10px;
      border-radius: 15px;
      background-color: @colorMain;
      border: 1px solid #fff;
      
      .progress-bar{
        background: #fff;
        box-shadow: none;
      }
    }
  }
  
}

.panel-overview{
  color: @colorMain;
  position: relative;
  margin-bottom: 5px;
  transform: translateY(-50%);
  border: 0;

  
  .indic{
    border-right: 1px solid #eee;
    &:last-child{
      border: 0;
    }
      padding: 10px 0;
  }
  
  .icon-indic{
    display: block;
    padding: 5px 0;
    font-size: 36px;
  }
  
  .indic-title{
    text-transform: uppercase;
  }
  
  .panel-overview-create{
    background-color: @colorMain;
    color: #fff;
    padding: 10px 0;
    cursor: pointer;
    
    a:hover{
      color: #fff;
      text-decoration: none;
    }
  }
}

.challenge-tab{
  border-bottom: 1px solid #ccc;
  user-select: none;
  
  li{
    display: inline-block;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    min-width: 100px;
    text-align: center;
    padding-bottom: 10px;
    
    & > *{
      text-decoration: none;
    }
    
    a{
      color: #999;
      &:hover{
        color: #333;
        text-decoration: none;
      }
    }
    &.active{
      border-bottom: 2px solid @colorMain;
      a{
        color: #333;
      }
      
    }
    
    
    
  }
}

.panel-idea{
  padding-right: 75px;
  position: relative;
  border: 0;
  
  h3{
    margin-top: 0px;
  }
  .user-idea{
    i{
      vertical-align: bottom;
    }  
  }  
}

.form-filter{
  padding-bottom: 20px;
}


.panel-idea-stats{
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 4px 4px 0;
  width: 75px;
  background-color: fade(@colorMain, 80%);
  
 .stat-container{
   text-align: center;
   height: 50%;
   position: relative;
   
   &:first-child{
     border-bottom: 1px solid #fff;
   }
   
   i{
     position: relative;
     color: #fff;
     top: 50%;
     transform: translateY(-75%);
     font-size: 26px;
   }
 }
 
 .stat-indic{
  text-align: center;
  display: block;
  position: absolute;
  bottom: 15px;
  width: 100%;
  color: #fff; 
 }

  
}