nav.navbar{
  // background-color: @colorMain;
  // color: #fff;
  background-color: #fff;
  color: #666;
  border: 0;
  padding: 0px 20px;
  
  .navbar-brand{
    top: 7px;
    position: relative;
    padding: 0 15px;
  }
  
  .navbar-nav{
    padding: 0;
  }
  
  .beta-logo{
    position: absolute;
    right: 0;
    top: -5px;
    color: #999;
    font-size: 12px;
    font-weight: bold;
  }
  
  .navbar-nav>li>a{
    color: @colorMain;
    font-size: 16px;
    position: relative;
    
    &:hover{
      color: darken(@colorMain, 10%);
      background-color: #f5f5f5;
    }
  }
  
  .material-icons{
    vertical-align: bottom;
    line-height: inherit;;
  }
  
  .notif-counter{
    .circle(20px, @red);
    color: #fff;
    font-size: 12px;
    position: absolute;
    right: 5px;
    top: 5px;
  }
  
  .dropdown.open>a{
    background-color: darken(@colorMain, 10%)!important;
  }
}

.idea-tag{
  padding: 1px 4px;
  background-color: #aaa;
  white-space: nowrap;
  border-radius: 2px;
  color: #fff;
}