.modal-create{
  width: 1200px;
  
  .modal-content{
    border: 0;
    box-shadow: 0 5px 15px rgba(0,0,0,.25);
    border-radius: 2px;
  }
  
  .modal-header{
    background-color: @colorMain;
    color: #fff;
    padding-bottom: 40px;
  }
  
  .modal-body{
    padding-bottom: 30px;
  }
  
  .modal-footer{
    padding: 0;
  }
  
}

.modal{
  .modal-content{
    border: 0;
    box-shadow: 0 5px 15px rgba(0,0,0,.25);
    border-radius: 2px;
  }
}

.modal-login, .modal-register{
  .modal-header{
    background-color: fade(@colorMain, 50%);
    color: #fff;
    
    .close{
      color: #fff;
      opacity: 1;
      font-size: 28px;
    }
  }
  
  .lost-password{
    color: #999;
    font-size: 12px;
  }
  
  .input-container{
    position: relative;
    color: @colorMain;
    
    i{
      position: absolute;
      background-color: @colorMain;
      height: 42px;
      width: 42px;
      text-align: center;
      line-height: 42px;
      color: #fff;
      font-size: 28px;
    }
  }
  
  input[type="text"], input[type="password"], input[type="email"]  {
    border-radius: 2px;
    box-shadow: none;
    height: 42px;
    padding-left: 55px;
  }
  
}