@import "includes/colors.less";
@import "includes/mixins.less";
@import "includes/menu.less";
@import "includes/modal.less";
@import "includes/footer.less";
@import "includes/challenges.less";
@import "includes/idea.less";
@import "includes/admin.less";

body{
  padding-top: 60px;
  background-color: #f4f4f4;
}

.nostyle{
  color: inherit;
}

.btn-main{
  background-color: @colorMain;
  color: #fff;
  margin-top: 25px;
  border: none;
  font-size: 16px;
  padding: 15px;
  font-weight: bold;
  text-transform: uppercase;
  
  &:hover{
    color: #fff;
    background-color: darken(@colorMain, 20%);
  }
  
  &--other{
    background-color: #666;
  }
  
  &--disabled{
    background-color: #ccc;
    color: #fff;
  }
}

