@import "includes/colors.less";
@import "includes/mixins.less";
@import "includes/menu.less";
@import "includes/modal.less";
@import "includes/footer.less";
@import "includes/challenges.less";
@import "includes/idea.less";
@import "includes/admin.less";
@import "includes/about.less";
@import "includes/responsive.less";

body{
  padding-top: 50px;
  background-color: #f4f4f4;
  background-image: url('../img/cubes.png');
  overflow-x: hidden;
}

.nostyle{
  color: inherit;
}

.tooltip-inner {
  white-space:pre-wrap;
}

.truncate{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-main{
  background-color: @colorMain;
  color: #fff;
  margin-top: 25px;
  border: none;
  font-size: 16px;
  padding: 10px 15px;
  font-weight: bold;
  text-transform: uppercase;
  transition-duration: 0.5s;
  
  &:hover{
    color: #fff;
    background-color: darken(@colorMain, 20%);
    transform: scale(1.1);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  }
  
  &--other{
    background-color: #666;
  }
  
  &--disabled{
    background-color: #ccc;
    color: #fff;
  }
}

